* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
ul {
    list-style-type: none;
}
.container-fluid {
    background-color: #07232e;
}
footer {
    margin-top: 3em;
    color: #b3b3b3;
}
.website-info {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1.5em;
}
div.website-info p {
    margin-bottom: 0;
}
