.blog > p {
    color: #8A8A8A;
}
.class-info > a {
    color: #4D4D4D;
}
ul.blog-category > li > a {
    color: #4D4D4D;
}
ul.blog-date > li > a {
    color: #4D4D4D;
}
div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}
div.blog h3 {
    margin-top: 0.5em;
}
div.blog p.blog-info {
    margin-bottom: 0;
}
div.paginator {
    text-align: center;
}
.pagination>.active_item>span:hover{
    background-color: #4D4D4D!important;
}

.blog-title {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.blog-title a{
    font-size: 120%;
    color: #4D4D4D;
}
ul.blog-info-description {
    list-style-type: none;
    margin-bottom: 1em;
    border: solid;
    border-width: thin;
    border-radius: 10px;
    padding: 5px 0.5em;
    margin-top: 1em;
    box-shadow: 0px 5px 5px #9FB6CD;
    background: #B9D3EE;
}
ul.blog-info-description li{
    display: inline-block;
    margin-right: 1em;
}
div.blog-more {
    margin-top: 1em;
}
.container {
    margin-top: 70px!important;
}
.blog-content ul {
    padding: 0 1em;
    list-style-type: inherit;
}
.container h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
.blog-content > p > img {
    display: block;
    max-width: 100% !important;
    height: auto !important;
}
.alert#alert1 {
    color: #333;
    background-color: #B9D3E8;
    border-color: #999;
}