.footer-tabbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 750px;
    display: flex;
    box-shadow: 0 -5px 10px #d9d9d9;
    font-size: 14px;
    z-index: 911;
    background: #ffffff;
}

.tabbar_item {
    color: #7E8C8D;
    display: block;
    flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    text-align: center;
    padding: 5px 0;
}

.tabbar_item.tab_on{
    color: #1E9FFF;
}