.top-header{
    height: 48px;
    line-height: 48px;
    background: #1E9FFF;
    color: #ffffff;
    position: fixed;
    width: 100%;
    max-width: none;
    z-index: 920190129;
}
.top-header h1{
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    line-height: 48px;
    margin: 0 auto;
}