@media all and (max-width: 600px) {
  .next{
    float:left;
  }
  .previous{
    float:left;
  }
}
.navbar {
    border-width: 0;
}
.panel-cover {
    display: block;
    position: fixed;
    z-index: 900;
    width: 100%;
    max-width: none;
    height: 100%;
    background-position: center center;
    background-size: cover;
    margin-top: 0;
}
.panel-main {
    display: table;
    width: 100%;
    height: 100%;
}
.home-content {
    font-size: 222%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
