{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}关于我{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'CSS/about.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/font.css' %}">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/129622/46596/5cefef3af629d80cc4033e5e.css' rel='stylesheet' type='text/css' />
{% endblock %}

{% block nav_about_active %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="about-me">
                    <h3>关于我</h3>
                    <p>一个编程爱好者，爱幻想，也有自己的想法，经常有小灯泡出现</p>
                    <p>目前大二，坐标山城，现就读于重庆一高校。</p>
                    <p>如果你也爱幻想，想要一起分享、探讨技术，欢迎联系我：微信：yuanjieCF</p>
                    <br><br><br>
                    <p>下面也是我所在的平台</p>
                    <p>CSDN博客主页：<a href="https://blog.csdn.net/qq_42505705">https://blog.csdn.net/qq_42505705</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
