{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}首页{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block header %}
    <header class="panel-cover" style="background-image: url('/static/images/background_cover.jpg')">
        <div class="panel-main">
            11111111111
        </div>
    </header>
{% endblock %}



{% block content %}
    <h3 class="home-content">欢迎访问我的网站，随便看</h3>
{% endblock %}
