{% extends 'base1.html' %}


    {% block content %}
        <div class="content">
            <div class="notice-panel mg15">
                <div class="panel-title1">公告</div><hr>
                <div class="notice_content">
                    <p>1、提现相关：周一到周五当天早上8点之前提现，当天可到账。当天早上8点之后提现，第二个工作日可到账，如果是周六早上8点之后提现，下周一到账。一天可提现一次，100一下的体现平台收取一块手续费，100以上免手续费。建议多个任务后一起提现，平台会保证你的资金安全，绝不会出一点问题。</p>
                    <p>2、关于升级师傅的相关规定：粉丝只要在平台完成二十个垫付任务后，可由你的师傅举荐成为平台师傅（师傅带着徒弟完成二十单的任务截图找客服报账号即可）！前期升级为师傅的拥有二十个邀请名额，名额数量会随着你徒弟在平台的通过率和活跃度相应增加！当你的徒弟达到200的数量时候可以找客服申请成为金牌师傅！金牌师傅福利与权限由客服告知！</p>
                    <p>3、封号警告：再次郑重提醒平台所有会员一定要按商家要求做任务，该货比的货比，该浏览的浏览，该假聊的假聊。还有！不要在旺旺上问商家问题的答案！找不到答案的请联系平台客服！还有快递一定要本人亲自签收！一旦有商家反应哪个粉丝没有按照要求做单的话!平台将对粉丝进行封号处理！封号处理！封号处理！新会员进入平台的前15天一天只能接一单，15天过后，会员每天能可以接3单垫付单，一个月最多接38单垫付单，一天可以接20单浏览单，一个月最多接240单浏览单！</p>
                </div>
            </div>
        </div>
    {% endblock %}
