{% extends 'base1.html' %}

{% block content %}
    <div class="content p15">
        <form action="/user/info" method="post">
            <div class="form-item">
                <label class="form-label">真实姓名</label>
                <input name="name" class="input-block readonly" type="text" name="name" placeholder="请输入真实姓名" xf-title="真实姓名不能为空" xf-verify="required" autocomplete="off" value="{{ current_mobile.name }}" disabled="disabled">
            </div>
            <div class="form-item">
                <label class="form-label">所在地区</label>
                <input name="area" class="input-block" value="{{ current_mobile.area }}">
            </div>
            <div class="form-item">
                <label class="form-label">详细地址</label>
                <input name="address" class="input-block" value="{{ current_mobile.address }}">
            </div>
            <div class="form-item">
                <label class="form-label">QQ号</label>
                <input name="qq" class="input-block" value="{{ current_mobile.QQ }}">
            </div>
            <div class="form-item">
                <label class="form-label">微信号</label>
                <input name="wx" class="input-block" value="{{ current_mobile.WX }}">
            </div>
            <p>注册时间 {{ current_mobile.c_time }}</p>
            <div>
            <button type="submit" class="btn btn-primary">确认修改</button>
            </div>
        </form>
    </div>
{% endblock %}

