{% extends 'base1.html' %}

{% block content %}
    <div class="content">
        <div class="user-info-block">
            <div class="info"></div>
            <img src="/static/images/nan.png" class="avatar">
                <p class="name mt10">欢迎您：{{ current_mobile.name }}</p>
                <br>
                <span>旺旺号：{{ current_mobile.tb }}</span>
                <br>
                {{ current_mobile.mobile }}
            <div class="det">
                <div class="amount">
                    <span class="field">可提现</span>
                    <span class="value">0</span>
                </div>
                <div class="notice">
                    <div class="empty">暂无新通知</div>
                </div>
            </div>
        </div>
        <div class="nav-list-flex">
            <a href="/user/info" class="nav-item">
                <span class="nav-txt">修改资料</span></a>
            <a href="/user/setpassword" class="nav-item">
                <span class="nav-txt">修改密码</span></a>
            <a href="/user/bill" class="nav-item">
                <span class="nav-txt">资金流水</span></a>
            <a href="/user/bank" class="nav-item">
                <span class="nav-txt">银行卡管理</span></a>
            <a href="/user/withdraw" class="nav-item">
                <span class="nav-txt">资金提现</span></a>
            <a href="/user/contact" class="nav-item">
                <span class="nav-txt">联系客服</span></a>
        </div>
        <div style="text-align: center;">
            <br>
            <a href="/logout/" class="btn btn-primary">注销登录</a>
        </div>

    </div>
{% endblock %}